@import url('https://fonts.googleapis.com/css?family=Raleway:300|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Space+Mono&display=swap');

body {
  text-align: center;
  margin: 0;
  background-color: rgba(230, 230, 230, 0.1);
  font-family: 'Raleway', sans-serif;
  color: rgb(80, 80, 80)
}

.title h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(80, 80, 80);
  font-size: 40px;
  margin-bottom: -10px;
}

.title h2 {
  font-weight: lighter;
}

.title p {
  line-height: 25px;
}

.title {
  margin: 100px 200px;
}

.btn-blue {
  text-decoration: none;
  border-radius: 3px;
  background-color: rgb(53, 91, 127);
  color: white;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.5s ease;
  position: relative;
    top: 15px;
    margin-left:auto;
    margin-right:auto;
  transition: all .2s ease-in-out;
}

.btn-blue:hover {
  background-color: rgb(53, 91, 127, 0.7);
  transform: scale(1.1);
/*  padding: 12px;*/
}

.btn-blue a {
  margin-top: 60px;
}

.banner {
  height: 600px;
  width: 100%;
}

.block {
  width: 90vw;
  /*margin: 0px 100px;*/
  padding: 50px;
  border-radius: 2px;
  box-shadow: 10px 10px 10px rgba(230, 230, 230, 0.2);
  background-color: white;
  box-sizing: border-box;
  transition: 0.4s;
  position: relative;
  margin: 0 auto;
}

#pencilicon {
  height: 30px;
  width: 30px;
}

#settingicon {
  height: 30px;
  width: 30px;
}

#diamondicon {
  height: 30px;
  width: 30px;
}

.footerlist i {
  color: white;
  font-size: 40px;
  transition: color 0.3s ease;
}

.footerlist i:hover {
  color: rgb(220, 220, 220);
}

.block h2 {
  color: #355B7F;
  font-family: 'Roboto', sans-serif;
}

.block:hover {
  box-shadow: 10px 10px 10px rgba(230, 230, 230, 0.5);
}

.avatar {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 8px;
  height: 200px;
  width: 200px;
  position: absolute;
    top: -160px;
    left:0;
    right:0;
  margin-left:auto;
  margin-right:auto;
}

.footer {
  height: 130px;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.9);
}

.footer h2 {
  color: white;
  position: absolute;
}

.footerlist {
  width: 100%;
  color: white;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0
}

.footerlist li {
  margin: 30px;
}

.image {
  z-index: -1;
  height: 300px;
  width: 400px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 450px;
  }
}
